<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatter app</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" href="/images/topicon.png">
    
  </head>
  <body>
    <header>
      <div class="menu">
        <img src="/images/icon.png">
        <p class="day"><%= day%><p>
        <ul>
          <a href="/">top</a>
          <a href="/chat">つぶやく</a>
          <a href="/contents">一覧</a>
        </ul>
      </div>
    </header>
    <main>
      <div class="top">
        <div class="wrapper">
          <div class="content">
            <h2>おしゃべり アプリ</h2>
            <h1>Chatter</h1>
            <p>メモ帳替わりに作成したappです。<br>気兼ねなく好きなことをつぶやこう！</p>
            <a class="btn" href="/chat">つぶやく</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="info">
        <h3>個人情報</h3>
        <ul>
          <li>名前     : 福田 拡也</li>
          <li>所属大学 : 大阪大学</li>
          <li>使用言語  :HTML&CSS,JavaScript,SQL</li>
          <li>連絡先   : osaka481859@gmail.co.jp</li>
        </ul>
      </div>
    </footer>
  </body>
</html>